@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: rgba(254, 44, 85, 1);
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    //default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: 'IBM Plex Sans', sans-serif;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}

//custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
