@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #ef2950;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: 'IBM Plex Sans', sans-serif;
}
